extends layout

block content
  h1= title0
  label.div-relationship Añade un nodo: 
        form.div-relationship(method='POST' action='/createNode')
          div.form-group
            label(for='nodeTitle') Nombre:
            input#name.form-control(type='text', placeholder='Nodo 1' name='nodeTitle')
          div.form-group
            label(for='nodeDescription') Descripcion:
            input#name.form-control(type='text', placeholder='Nodo 2' name='nodeDescription')
          button.btn.btn-primary(type='submit') Crear