extends layout

block content
  h1= title0
  label Añade un nodo: 
        form(method='POST' action='/createNode')
          div.form-group
            label(for='nodeTitle') Nodo 1:
            input#name.form-control(type='text', placeholder='Nodo 1' name='nodeTitle')
          div.form-group
            label(for='nodeDescription') Nodo 2:
            input#name.form-control(type='text', placeholder='Nodo 2' name='nodeDescription')
          button.btn.btn-primary(type='submit') Sign up