extends layout

block content
  div.form-group.div-relationship
    label Encuentra nodos: 
        form(method='GET' action='/findNode')
            button.btn.btn-primary(type='submit') Encuentra nodo
            if nodo1 && nodo2
                div.row
                    div.col-6
                        div.nodo #{nodo1}
                    div.col-6
                        div.nodo #{nodo2}