extends layout

block content
  div.form-group.div-relationship
    label Encuentra nodos: 
        form(method='GET' action='/findNode')
            button.btn.btn-primary(type='submit') Encuentra nodo
        - var keywords = {listaNodos}
        each val in keywords
            div.col-6
                div.nodo= val
