<body>
<h3>Add movie</h3>
<form method="post" action="/movie/add">
    <label>Movie Name</label><br>
    <input type="text" name="title">
    <br>

    <label>Tagline</label><br>
    <input type="text" name="tagline">
    <br>

    <label>Released</label><br>
    <input type="text" name="released">
    <br><br>
    <input type="submit" name="Submit">
</form>

<h3>Add Actor</h3>
<form method="post" action="/actor/add">
    <label>Actor Name</label><br>
    <input type="text" name="name">
    <br><br>
    <input type="submit" name="Submit">
</form>

<h3>Add actor to movie</h3>
<form method="post" action="/movie/actor/add">
    <label>Movie Name</label><br>
    <input type="text" name="title">
    <br>

    <label>Actor name</label><br>
    <input type="text" name="name">
    <br><br>

    <input type="submit" name="Submit">
</form>

<h3>Shortest path between two actors</h3>
<form method="post" action="/firstActor/secondActor/find">
    <label>Actor 1</label><br>
    <input type="text" name="nameActor1">
    <br>

    <label>Actor 2</label><br>
    <input type="text" name="nameActor2">
    <br><br>

    <input type="submit" name="Submit">
</form>


</body>